.line-div7,
.rectangle-div40 {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.line-div7 {
  top: 108px;
  left: -0.5px;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.rectangle-div40 {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 360px;
  height: 69px;
}
.vector-icon6 {
  position: absolute;
  height: 34.78%;
  width: 6.67%;
  top: 23.19%;
  right: 63.33%;
  bottom: 42.03%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-div6 {
  position: absolute;
  top: 19px;
  left: 144px;
  font-size: var(--font-size-base);
  letter-spacing: -0.33px;
  font-family: var(--font-comfortaa);
  color: var(--cards-2-main);
  text-align: center;
  display: inline-block;
}
.home-nav-button7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 109px;
  left: 0;
  width: 360px;
  height: 69px;
}
.scan-w-icon6 {
  position: absolute;
  height: 27.83%;
  width: 6.67%;
  top: 33.33%;
  right: 70.28%;
  bottom: 38.84%;
  left: 23.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.diagnosis-div9 {
  position: absolute;
  top: 21px;
  left: 119px;
  font-size: var(--font-size-base);
  letter-spacing: -0.33px;
  font-family: var(--font-comfortaa);
  color: var(--cards-2-main);
  text-align: center;
  display: inline-block;
}
.scanner-nav-button7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 109px;
  left: 360px;
  width: 360px;
  height: 69px;
}
.game-w-icon7 {
  position: absolute;
  top: 16px;
  left: 72px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.play-game-b7 {
  position: absolute;
  top: 15px;
  left: 121px;
  font-size: var(--font-size-base);
  letter-spacing: -0.33px;
  display: inline-block;
  font-family: var(--font-comfortaa);
  color: var(--cards-2-main);
  text-align: center;
}
.chatroom-nav-button7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 109px;
  left: 720px;
  width: 360px;
  height: 69px;
}
.profile-w-icon6 {
  position: absolute;
  height: 34.78%;
  width: 6.67%;
  top: 30.43%;
  right: 63.61%;
  bottom: 34.78%;
  left: 29.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.profile-div7 {
  position: absolute;
  top: 19px;
  left: 142px;
  font-size: var(--font-size-base);
  letter-spacing: -0.33px;
  font-family: var(--font-comfortaa);
  color: var(--cards-2-main);
  text-align: center;
  display: inline-block;
}
.profile-nav-button7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 109px;
  left: 1080px;
  width: 360px;
  height: 69px;
}
.rectangle-div44 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--cards-2-main);
  border: 2px solid var(--cards-2-main);
  box-sizing: border-box;
}
.log-in-div7 {
  position: absolute;
  height: 24.59%;
  width: 25.85%;
  top: 38.18%;
  right: 37.62%;
  bottom: 37.23%;
  left: 36.53%;
  font-size: var(--open-sans-13-sp-body-3-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--font-roboto);
  color: var(--white);
  text-align: center;
  display: inline-block;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 730px;
  left: 588px;
  border-radius: var(--br-md);
  width: 294px;
  height: 61px;
}
.cloud-icon3 {
  position: absolute;
  top: 0;
  left: 131px;
  width: 987px;
  height: 531px;
  object-fit: cover;
}
.i-had-a-diaper-rash-growing-up {
  position: absolute;
  top: 145px;
  left: 375px;
  line-height: 25px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 484px;
  height: 242px;
}
.girl-icon1 {
  position: absolute;
  top: 239.69px;
  left: 0;
  width: 263.46px;
  height: 395.31px;
  object-fit: cover;
}
.group-div4 {
  position: absolute;
  top: 95px;
  left: 116px;
  width: 1118px;
  height: 635px;
}
.diaper-span {
  line-height: 25px;
}
.span9 {
  line-height: 22px;
}
.diaper-rash-div1 {
  position: absolute;
  top: 27px;
  left: 608px;
  font-size: var(--font-size-xl);
  font-family: var(--dm-serif-display-20-sp-h5);
  display: inline-block;
  width: 300px;
  height: 45px;
}
.frame-div3 {
  position: absolute;
  top: 179px;
  left: 0;
  width: 1440px;
  height: 845px;
  overflow-y: auto;
}
.baby-got-rash8 {
  position: absolute;
  top: 0;
  left: 53px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 396px;
  height: 183px;
}
.group-icon8,
.logo-div8 {
  position: absolute;
  top: 62px;
  left: 0;
  width: 53px;
  height: 39px;
}
.logo-div8 {
  top: -28px;
  left: 496px;
  width: 449px;
  height: 183px;
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-rhodium-libre);
}
.diaper-rash-div {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--cards-2-main);
  font-family: var(--open-sans-13-sp-body-3);
}
